
.appointment{
    margin-top: 100px;
    background-color: whitesmoke;
    padding: 20px;
}
.apointmentImg{
   
    
    filter: drop-shadow(0 0 0.75rem gray);

}
.fillForm{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}